body {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  height: 100vh;
}
body > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #463aa2;
  color: white;
  padding: 10px;
  height: fit-content;
}
body > nav > div {
  display: flex;
  flex-shrink: 0;
}
body > nav > div > a {
  color: inherit;
  font-size: 1.4rem;
  text-decoration: none !important;
}
body > nav > ul {
  display: flex;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
body > nav > ul li {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  text-decoration: none;
}
body > nav > ul li > a {
  text-decoration-line: none;
  color: inherit;
}
body > nav > ul li:hover {
  cursor: pointer;
}
body > nav > ul li:hover:not(:last-child) {
  border-radius: 5%;
  background-color: #0069e0;
}
body > nav > ul .OtherSect {
  color: #fec89a;
}
body > nav #dropdown {
  background-color: #dbd4ed;
  color: black;
  position: absolute;
  right: 20px;
  top: 60px;
  border-radius: 2%;
}
body > nav #dropdown::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 10px;
  width: 15px;
  height: 15px;
  z-index: -1;
  background-color: inherit;
  transform: rotate(45deg);
}
body > nav #dropdown ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  margin: 0;
}
body > nav #dropdown ul li {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 0 5px;
}
body > nav #dropdown ul li > a {
  text-decoration-line: none;
  color: inherit;
}
body > nav #dropdown ul li:hover:not(:first-child) {
  cursor: pointer;
  background-color: #047aff;
  border-radius: 5%;
  color: white;
}
body #update {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body #update > div {
  background-color: #dbd4ed;
  padding: 2em 2.5em;
  border-radius: 2%;
}
body #update > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}
body #update > div > form {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
}
body #update > div > form > input {
  height: 2em;
  padding: 1% 2%;
  border: 2px solid #757575;
  outline: none;
}
body #update > div > form > input:focus {
  border: 2px solid rgb(0, 0, 255);
}
body #update > div > form > div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1em;
}
body #update > div > form > div > button {
  border: none;
  border-radius: 10%;
  padding: 5px 10px;
  font-size: 1em;
  border: none;
  color: black;
}
body #update > div > form > div > button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 6px grey;
}
body #update > div > form > div .update {
  background-color: #8F38F3;
  color: white;
}
body #update > div > form > div .cancel {
  background-color: #e3e9f4;
}
body main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  margin: 15px;
}

@keyframes notification {
  0% {
    bottom: -50px;
  }
  10% {
    bottom: 30px;
  }
  90% {
    bottom: 30px;
  }
  100% {
    bottom: -50px;
  }
}
#notification {
  position: absolute;
  bottom: -50px;
  display: none;
  justify-content: center;
  animation: notification 4s ease-out;
  width: 100%;
}
#notification #message {
  padding: 0.5em 2em;
}

/*# sourceMappingURL=base.css.map */
