<!DOCTYPE html>
<head>
    <title>{%block title %}{% endblock %} | Library Management System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}">
    {% block styles %}{% endblock %}
</head>

<body>
    <nav>
        <div>Library Management System</div>
        <ul>
            {% block routes %}{% endblock %}
            {% if g.user %}
            <li>{{ g.user.name }}</li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
