<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<nav>
    <h1>Library Management System</h1>
    <ul>
        {% if session['username'] %}
            <li><span>{{ session['username'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>

<section>
    <div>Login successfull!</div>
</section>
