{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block links %}
<li><a href="{{ url_for('auth.register') }}">Register</a></li>
{% endblock %}

{% block content %}
<form>
    <label for="username">Username</label>
    <input type="text" name="username">
    <label id="username_error"></label>
    <label for="password">Password</label>
    <input type="password" name="password">
    <label id="password_error"></label>
    <input type="button" value="Log In" onclick="login()">
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static',filename='scripts/login.js') }}"></script>
{% endblock %}
