{% extends 'base.html' %}

{% block content %}
<div>{% block title %}Register{% endblock %}</div>
<section id="Section">
    <form id="Form">
        <label for="username">Username</label>
        <input type="text" name="username" class="input">
        <label for="password">Password</label>
        <input type="password" name="password" class="input">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" class="input">
        <input type="button" value="Register" class="button" onclick="login(resiter=true)">
        <div>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></div>
    </form>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/form.css') }}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static',filename='scripts/auth.js') }}"></script>
{% endblock %}
