{% extends 'base.html' %}

{% block routes %}
<li><a href="{{ url_for('members.view_members') }}">View Members</a></li>
<li><a href="{{ url_for('members.add_member') }}">Add</a></li>
{% endblock %}

{% block content %}
<div>
    {% block title %}Update Members {% endblock %}
</div>

<section id="Section">
    <form id="Form">
        <label for="id">ID</label>
        <input type="number" name="id" class="input" {% if member %} value="{{ member.id }}" disabled{% endif %}>
        <label for="name">Name</label>
        <input type="text" name="name" class="input" {% if member %} value="{{ member.name }}" disabled {% endif %}>
        <label for="phone">Phone</label>
        <input type="text" name="phone" class="input" {% if member %} value="{{ member.phone }}" disabled {% endif %}>
        <label for="address">Address</label>
        <input type="text" name="address" class="input" {% if member %}value="{{ member.address }}" disabled{% endif %}>
        <input type="button" value="Update" onclick="update_member()" class="button">
    </form>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/form.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/update_member.js') }}"></script>
{% endblock %}
