{% extends 'base.html' %}

{% block routes %}
<li><a href="{{ url_for('members.add_member') }}">Add member</a></li>
{% endblock %}

{% block content %}
<div class="title">{% block title %}View Members{% endblock %}</div>
<section>
    <table cellpadding="10">
        <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        {% for member in members %}
        <tr id="{{ member.id }}">
            <td>{{ member.id }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.address }}</td>
            <td>
                <div>
                    <button onclick="update_member({{ member.id }})" class="button update">Update</button>
                    <button onclick="remove_member({{ member.id }})" class="button remove">Remove</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/view.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/member.js') }}"></script>
{% endblock %}
