{% extends 'base.html' %}

{% block routes %}
<li class="OtherSect"><a href="{{ url_for('members.view_members') }}">Members</a></li>
<li><a href="{{ url_for('books.view_books') }}">View</a></li>
<li><a href="{{ url_for('books.issue') }}">Issue</a></li>
<li><a href="{{ url_for('books.return_book') }}">Return</a></li>
<li><a href="{{ url_for('books.get_issued_books') }}">Issued Books</a></li>
{% endblock %}

{% block content %}
<div>{% block title %}Import Books{% endblock %}</div>
<section id="Section">
    <form id="Form">
        <label for="title">Title</label>
        <input type="text" name="title" class="input">
        <label for="authors">Authors</label>
        <input type="text" name="authors" class="input">
        <label for="isbn">ISBN number</label>
        <input type="text" name="isbn" class="input">
        <label for="publisher">Publisher</label>
        <input type="text" name="publisher" class="input">
        <label for="page">Page</label>
        <input type="text" name="page" class="input">
        <input type="button" value="Submit" onclick="importBooks()" class="button">
    </form>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/import_books.js') }}"></script>
{% endblock %}
