{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Import Books{% endblock %}</h1>
{% endblock %}

{% block links %}
<li><a href="{{ url_for('books.view_books') }}">View Books</a></li>
{% endblock %}

{% block content %}
<form id="form">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="authors">Authors</label>
        <input type="text" name="authors" id="authors">
    </div>
    <div>
        <label for="isbn">ISBN number</label>
        <input type="text" name="isbn" id="isbn">
    </div>
    <div>
        <label for="publisher">Publisher</label>
        <input type="text" name="publisher" id="publisher">
    </div>
    <div>
        <label for="page">Page</label>
        <input type="text" name="page" id="page">
    </div>
    <input type="button" value="Submit" onclick="importBooks()">
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/import.js') }}"></script>
{% endblock %}
