{% extends 'base.html' %}

{% block routes %}
<li class="OtherSect"><a href="{{ url_for('members.view_members') }}">Members</a></li>
<li><a href="{{ url_for('books.import_books') }}">Import</a></li>
<li><a href="{{ url_for('books.view_books') }}">View</a></li>
<li><a href="{{ url_for('books.return_book') }}">Return</a></li>
<li><a href="{{ url_for('books.get_issued_books') }}">Issued Books</a></li>
{% endblock %}

{% block content %}
<div>{% block title %}Issue Book{% endblock %}</div>
<section id="Section">
    <form id="Form">
        <label for="bookID">Book ID</label>
        <input type="number" name="bookID" class="input" {% if book %} value="{{ book.bookID }}" disabled{% endif %}>
        <label for="memberID">Member ID</label>
        <input type="number" name="memberID" class="input">
        <label for="title">Book title</label>
        <input type="text" name="title" class="input" {% if book %} value="{{ book.title }}" {% endif %} disabled>
        <label for="authors">Book Authors</label>
        <input type="text" name="authors" class="input" {% if book %} value="{{ book.authors }}" {% endif %} disabled>
        <input type="button" value="Submit" onclick="issue_book()" class="button">
    </form>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/form.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/issue_book.js') }}"></script>
{% endblock %}
