{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Issue Booker{% endblock %}</h1>
{% endblock %}

{% block links %}
<li><a href="{{ url_for('return_book') }}">Return Books</a></li>
{% endblock %}

{% block content %}
<form id="form">
    <div>
        <label for="book_id">Book Id</label>
        <input type="text" name="book_id">
    </div>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="bookname">Book name</label>
        <input type="text" name="bookname">
    </div>
    <div>
        <label for="book_author">Book Author</label>
        <input type="text" name="book_author">
    </div>
    <input type="button" value="Submit" onclick="issue()">
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/issue_book.js') }}"></script>
{% endblock %}
