{% extends 'base.html' %}

{% block routes %}
<li><a href="{{ url_for('books.import_books') }}">Import</a></li>
<li><a href="{{ url_for('books.view_books') }}">View</a></li>
<li><a href="{{ url_for('books.issue') }}">Issue</a></li>
<li><a href="{{ url_for('books.get_issued_books') }}">Issued List</a></li>
{% endblock %}

{% block content %}
<div>{% block title %}Return Books{% endblock %}</div>
<section id="Section">
    <form id="Form">
        <label for="book_id">Bood Id</label>
        <input type="text" name="book_id" class="input">
        <label for="return_date">Return Date</label>
        <input type="date" name="return_date" class="input">
        <input type="button" value="Return book" onclick="return_book()" class="button">
    </form>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/form.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/return_book.js') }}"></script>
{% endblock %}
