{% extends 'base.html' %}

{% block routes %}
<li class="OtherSect"><a href="{{ url_for('members.view_members') }}">Members</a></li>
<li><a href="{{ url_for('books.import_books') }}">Import</a></li>
<li><a href="{{ url_for('books.view_books') }}">View</a></li>
<li><a href="{{ url_for('books.issue') }}">Issue</a></li>
<li><a href="{{ url_for('books.get_issued_books') }}">Issued Books</a></li>
{% endblock %}

{% block content %}
<div>{% block title %}Return Books{% endblock %}</div>
<section id="Section">
    <form id="Form">
        <label for="bookID">Bood ID</label>
        <input type="text" name="bookID" class="input" {% if book %} value="{{ book.bookID }}" disabled {% endif %}>
        <label for="memberID">Member ID</label>
        <input type="text" name="memberID" class="input" {% if book %} value="{{ book.memberID }}" disabled {% endif %}>
        <label for="returnDate">Return Date</label>
        <input type="date" name="returnDate" class="input" {% if book.return_date %} value="{{ book.return_date }}" disabled {%
            else %} value="{{ today() }}" {% endif %}>
        <div>
            <input type="checkbox" name="paid" class="input">
            <label for="paid">Paid return charge</label>
        </div>
        <input type="button" value="Return book" onclick="return_book()" class="button">
    </form>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/form.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/return_book.js') }}"></script>
{% endblock %}
