{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Return Books{% endblock %}</h1>
{% endblock %}

{% block links %}
<li><a href="{{ url_for('books.import_books') }}">Import Books</a></li>
<li><a href="{{ url_for('books.view_books') }}">View Books</a></li>
<li><a href="{{ url_for('books.issue') }}">Issue Book</a></li>
{% endblock %}

{% block content %}
<form>
    <div>
        <label for="book_id">Bood Id</label>
        <input type="text" name="book_id">
    </div>
    <div>
        <label for="return_date">Return Date</label>
        <input type="date" name="return_date">
    </div>
    <input type="button" value="Return book" onclick="return_book()">
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/return_book.js') }}"></script>
{% endblock %}
