{% extends 'base.html' %}

{% block routes %}
<li class="OtherSect"><a href="{{ url_for('members.view_members') }}">Members</a></li>
<li><a href="{{ url_for('books.import_books') }}">Import</a></li>
<li><a href="{{ url_for('books.view_books') }}">View</a></li>
<li><a href="{{ url_for('books.issue') }}">Issue</a></li>
<li><a href="{{ url_for('books.return_book') }}">Return</a></li>
{% endblock %}

{% block content %}
<div class="title">{% block title %}Issued Books{% endblock %}</div>
<form id="Form">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Enter Book Title">
    <label for="memberID">Member ID</label>
    <input type="text" name="memberID" placeholder="Enter Member ID">
    <button type="button" id="search">Search</button>
    <button type="button" id="reset">Reset</button>
</form>

<section id="Section">
    <table cellpadding="5">
        <thead>
            <tr>
                <th>BookID</th>
                <th>Title</th>
                <th>Member ID</th>
                <th>Member</th>
                <th>Issued date</th>
                <th>Days</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr id="{{ book.id }}">
                <td>{{ book.bookID }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.memberID }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.issued_date }}</td>
                <td>{{ book.days }}</td>
                <td>
                    <div>
                        {% if book.return_date %}
                        <button class="button pay" onclick="return_book({{ book.id }})">Pay rent</button>
                        {% else %}
                        <button onclick="return_book({{ book.id }})" class="button return">
                            Return
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/view.css') }}" />
{% endblock %} {% block scripts %}

<script src="{{ url_for('static',filename='scripts/view_issued_books.js') }}"></script>
{% endblock %}
