{% extends 'base.html' %}

{% block routes %}
<li><a href="{{ url_for('books.import_books') }}">Import</a></li>
<li><a href="{{ url_for('books.view_books') }}">View</a></li>
<li><a href="{{ url_for('books.issue') }}">Issue</a></li>
<li><a href="{{ url_for('books.return_book') }}">Return</a></li>
{% endblock %}

{% block content %}
<div class="title">{% block title %}Issued Books{% endblock %}</div>
<form id="Form">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Enter Book Title">
    <label for="authors">Authors</label>
    <input type="text" name="authors" placeholder="Enter Authors Name">
    <button type="button" id="search">Search</button>
    <button type="button" id="reset">Reset</button>
</form>

<section id="Section">
    <table cellpadding="5">
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Member</th>
            <th>Issued date</th>
            <th>Days</th>
            <th>Actions</th>
        </tr>
        {% for book in books %}
        <tr id="{{ book.id }}">
            <td>{{ book.bookID }}</td> <!-- bookID -->
            <td>{{ book.bookID | book_title }}</td> <!-- title -->
            <td>{{ book.memberID | member_name }}</td> <!-- member -->
            <td>{{ book.issued_date }}</td> <!-- issued_date -->
            <td>{{ book.issued_date | days_since_issued }}</td> <!-- days_since_issued -->
            <td>
                <div>
                    {% if book.return_date %}
                    <button class="button pay">Pay rent</button>
                    {% else %}
                    <button onclick="return_book({{ book.id }})" class="button return">
                        Return
                    </button>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

{% endblock %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/view.css') }}" />
{% endblock %} {% block scripts %}

<script src="{{ url_for('static',filename='scripts/view_issued_books.js') }}"></script>
{% endblock %}
