table {
    display: flex;
    width: 100%;
    border-collapse: collapse;
    border: solid;
    padding: 10px;
    overflow-x: scroll;

    th,
    td {
        border-bottom: 1px solid #ddd;
        padding: 0.5em;
    }

    td:not(:nth-child(2)) {
        text-align: center;
    }
}

.button {
    border: none;
    border-radius: 10%;
    padding: 5px 10px;
}

.update {
    background-color: blue;
}

.remove {
    background-color: red;
}
