$dropdownColor: #bde0fe;
$dropdownHighlight: #3a86ff;

body {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    height: 100vh;

    & > nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: paleturquoise;
        padding: 10px;
        height: fit-content;

        & > div {
            display: flex;
            flex-shrink: 0;
        }
        & > div > a {
            color: inherit;
            font-size: 1.4rem;
            text-decoration: none !important;
        }
        & > ul {
            display: flex;
            flex-shrink: 0;
            margin: 0;
            padding: 0;

            li {
                padding-left: 10px;
                padding-right: 10px;
                list-style: none;
                text-decoration: none;

                & > a {
                    text-decoration-line: none;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        #dropdown {
            background-color: $dropdownColor;
            position: absolute;
            right: 20px;
            top: 60px;
            border-radius: 2%;

            &::before {
                content: "";
                position: absolute;
                top: -6px;
                right: 10px;
                width: 15px;
                height: 15px;
                z-index: -1;
                background-color: $dropdownColor;
                transform: rotate(45deg);
            }

            ul {
                display: flex;
                flex-direction: column;
                padding: 5px;
                gap: 5px;
                margin: 0;

                li {
                    list-style: none;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    padding: 0 5px;

                    & > a {
                        text-decoration-line: none;
                        color: black;
                    }
                    &:hover:not(:first-child) {
                        cursor: pointer;
                        background-color: $dropdownHighlight;
                        border-radius: 4%;
                    }
                }
            }
        }
    }

    #update {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > div {
            background-color: aqua;
            padding: 2em 2.5em;
            border-radius: 2%;

            & > div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-weight: bold;
                font-size: 1.5em;
                margin-bottom: 1em;
            }

            & > form {
                opacity: 1;
                display: flex;
                flex-direction: column;
                align-items: left;
                gap: 15px;

                & > input {
                    height: 2em;
                    padding: 1% 2%;
                    border: 2px solid #757575;
                    outline: none;

                    &:focus {
                        border: 2px solid rgb(0, 0, 255);
                    }
                }
                & > div {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    gap: 1em;

                    & > button {
                        border: none;
                        border-radius: 10%;
                        padding: 5px 10px;
                        font-size: 1em;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    main {
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-weight: bold;
            font-size: 1.5em;
            margin: 15px;
        }
    }
}
