@use "theme";

#Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;

    #Form {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 30%;
        gap: 15px;

        div {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 1em;

            & > input {
                border: none;
                border-radius: 10%;
                padding: 5px 10px;
                font-size: 1em;
                border: none;
                color: black;

                &:hover {
                    cursor: pointer;
                    box-shadow: 2px 2px 6px grey;
                }
            }

            #submit {
                background-color: theme.$tertiary;
                color: white;
            }
        }

        .input {
            height: 1.5em;
            padding: 1% 2%;
            border: 2px solid theme.$inputBorderColor;
            outline: none;

            &:focus {
                border: 2px solid rgb(0, 0, 255);
            }
            &:disabled {
                cursor: not-allowed;
                border: 1px solid;
            }
        }

        .button {
            display: flex;
            flex-direction: row;
            align-self: flex-end;
            border: none;
            border-radius: 10%;
            padding: 5px 10px;
            font-size: 1em;
            border-color: theme.$base-300;
            color: black;
            background-color: theme.$base-300;

            &:hover:not(:disabled) {
                cursor: pointer;
                box-shadow: 2px 2px 6px grey;
            }

            &:disabled {
                cursor: not-allowed;
                color: black;
            }
        }
    }
}
