@use "theme";
body {
    height: unset;
}
#Form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
        height: 20px;
        width: 25%;
        padding: 5px 10px;
        border: 2px solid theme.$inputBorderColor;
        outline: none;

        &:focus {
            border: 2px solid rgb(0, 0, 255);
        }
    }

    button {
        background-color: theme.$base-300;
        color: black;
        padding: 5px 10px;
        border: 1px solid theme.$base-300;
        border-radius: 10%;
        box-shadow: 1px 1px 2px grey;

        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 6px grey;
        }
    }
}

#Section {
    max-width: 100vw;
    display: flex;
    padding: 0 20px;
    margin: 20px;
    overflow: scroll;

    table {
        margin-top: 2em;
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        tr {
            border-top: 1px solid #000;

            th {
                text-align: left;
                vertical-align: top;

                &:nth-child(1) {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                }
            }

            td {
                text-align: left;

                &:nth-child(1),
                &:nth-child(6) {
                    text-align: center;
                }

                &:last-child div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    gap: 20px;
                }
            }
        }
    }
}

.button {
    border: none;
    border-radius: 10%;
    padding: 5px 10px;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        color: black;
        background-color: theme.$base-300;
    }
    &:hover:not(:disabled) {
        box-shadow: 2px 2px 6px grey;
    }
}

// members
.update {
    background-color: theme.$primary-focus;
    color: white;
}

.remove {
    background-color: theme.$error;
    color: white;
}

// books
.issue,
.return {
    background-color: theme.$primary-focus;
    color: white;
}

.pay {
    background-color: theme.$info;
    color: black;
}
